---
import Balance from '../components/Balance.astro';
import Card from '../components/Card.astro';
import '../style/global.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Frontend Mentor | Expenses chart component</title>
    </head>
    <body>
        <main>
            <Balance />

            <Card />
        </main>
    </body>
    <style>
        main {
            max-width: 450px;
            margin-inline: auto;
            width: 100%;
        }
    </style>
</html>
