@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

:root {
  --red-clr: hsl(10, 79%, 65%);
  --cyan-clr: hsl(186, 34%, 60%);

  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: sl(27, 66%, 92%);
  --pale-orange: hsl(33, 100%, 98%);

}


body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

a {
  text-decoration: none;
}